@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@font-face {
    font-family: "Android";
    src: url("../fontes/idroid.otf") format("opentype");
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;
    --fonte_android: "Android", cursive;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrão);
}

a.externo::after {
    content: "\00A0\1F517";
}

header {
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 150px;
    text-align: center;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3em;
    margin-bottom: 20px;
    padding-top: 40px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    margin: auto;
    margin-bottom: 20px;
    max-width: 600px;
    padding: 0px 10px 10px 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.204);
    padding: 10px;
    text-align: left;
}

nav > a {
    border-radius: 5px;
    color: var(--cor1);
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor03);
    color: var(--cor05);
}

main {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.416);
    margin: auto;
    margin-bottom: 30px;
    max-width: 1000px;
    min-width: 300px;
    padding: 20px;
}

main a {
    background-color: var(--cor1);
    color: var(--cor05);
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px;
}

main a:hover {
    color: var(--cor04);
    text-decoration: underline;
}

main img {
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;
}

div.vídeo {
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.vídeo > iframe {
    border: 1px solid rgba(0, 0, 0, 0.338);
    border-radius: 10px;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
}

main h1 {
    color: var(--cor05);
    font-family: var(--fonte_android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    color: var(--cor04);
    font-family: var(--fonte_android);
    font-weight: normal;
    font-size: 1.3em;
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    line-height: 2em;
    font-size: 1em;
    text-align: justify;
    text-indent: 30px;
}

main strong {
    color: var(--cor04);
    font-weight: bold;
    padding: 2px 6px;
}

aside {
    background-color: var(--cor1);
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.353);
    padding: 10px;
}

aside h3 {
    color: white;
    background-color: var(--cor04);margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}

aside > ul {
    columns: 2;
    list-style-position: inside;
    list-style-type: "\2714\00A0\00A0";
}

footer {
    background-color: var(--cor05);
    color: white;
    font-size: 0.8em;  
    padding: 10px;  
    text-align: center;
}

footer p {
    margin: 10px 0px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}